* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  color: #202020;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  flex: 1;
}

.sideBar {
  min-height: 0;
  flex: 2;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}

.header-sideBar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addNoteButton {
  padding: 20px;
  background-color: #202020;
  color: whitesmoke;
  width: 90%;
  margin: 20px auto;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.addNoteButton:hover {
  background-color: #606060;
  color: white;
}

.notesList {
  margin: 20px;
}

.noteCard {
  background: none;
  width: 100%;
  border: none;
  border-radius: 3px;
  text-align: left;
  padding: 5px 10px;
  margin: 5px 0px;

  cursor: pointer;
}

.notecard::first-letter {
  text-transform: uppercase;
}

.noteCard:hover {
  background-color: #505050;
  color: whitesmoke;
}

.showArea {
  min-height: 0;
  height: 100dvh;
  overflow-y: scroll;
  scrollbar-width: none;
  flex: 8;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.showArea h1 {
  text-align: center;
}

.displayNote {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding-bottom: 200px;
}

.displayNote h1 {
  margin: 20px;
  margin-bottom: 50px;
}

.displayNote p {
  width: 80%;
  line-height: 1.5;
  margin: 30px auto;
  text-align: justify;
}

.displayNote p::first-letter {
  text-transform: uppercase;
}

.formNote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}

.newTitle {
  height: 30px;
  margin: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: white;
}

.newContent {
  min-height: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

.formSubmit {
  background-color: #202020;
  color: whitesmoke;
  padding: 20px 40px;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
